extends ../main
block title
  | Главная страница (main.psd)
block content
  article.content-wrapper
    .container
      .main-title
        | Мобильные телефоны
      .main-content
        include ../_common/_sidebar

        .container
          .sort
          .products
      .attention
        .main-title
          | Важная информация
        .attention__text
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa perferendis possimus voluptatibus odio inventore, eius veritatis, nulla corporis nihil excepturi quam cumque eaque numquam praesentium quo dicta error quasi nisi. 
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur rerum sunt saepe, molestiae soluta similique maiores illum rem ut vitae, error. Veritatis eos, similique animi neque unde repellat error sapiente! 
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore similique, quidem atque consequuntur, et unde ipsa iusto omnis repudiandae, officiis, mollitia. Consectetur impedit, non cupiditate at eligendi tempore aliquid!  
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ab ducimus, libero ut nulla cumque placeat ipsam eligendi, debitis quae excepturi fugit quisquam dolorem tempore fugiat sint dicta voluptate magnam.
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui corporis, magnam similique consectetur quisquam perferendis dolor accusamus labore! Sit velit similique, blanditiis ullam. Consequatur vel, voluptates placeat! Nihil dolore, aliquid!
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque rem placeat architecto id, incidunt molestias suscipit laborum odio aspernatur ipsum porro nobis totam. Repellendus asperiores distinctio cum, laudantium ullam tempora!      

